/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* customize the styles name and property */
:root {
    --primary-text-color: #3A3A3A;
    --secondary-text-color: #18191F;
    --tertiary-text-color: #0A0826;
    --fourth-text-color: #FFFFFF;
    --fifth-text-color: #D9DBE1;
    --primary-bg-color: #D9DBE1;
    --secondary-bg-color: ##FFFFFF;
    --footer-bg-color: #0A0826;
    --primary-btn-color: #E02C6D;
    --primary-btn-text-color: #FFFFFF;
    --secondary-btn-text-color: #E02C6D;
    --primary-font: 'Poppins', sans-serif;

}

/* universal margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
}

/* all common styles */
header,
main {
    max-width: 1280px;
    margin: auto;
}

.navbar {
    /* margin-bottom: 100px; */
}

/* header start */
header {
    padding-bottom: 50px;
}

/* navbar start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.navbar_logo {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.nav_item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav_item a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.nav_item a:hover {
    color: var(--tertiary-text-color);
}

/* banner start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;

}

.banner_info,
.banner_img {
    width: 100%;
    padding: 35px 0px;

}

.banner_info-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
}

.banner_info-text {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0px;
}

.primary_btn,
.secondary_btn {
    background-color: var(--primary-btn-color);
    color: var(--primary-btn-text-color);
    border: 0;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 16px;
}

.primary_btn {
    border-radius: 30px;
}

.primary_btn:hover,
.secondary_btn:hover {
    background-color: #d60f58;
    color: #e6e6e6;
}

.banner_img {
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/circle-design.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right;
}

.banner_img img {
    width: 70%;
}

/* header end */
/* main start */
/* all styles */
section {
    margin-bottom: 100px;
}

.section_title {
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: var(--primary-text-color);
}
/* sponsor section */
.sponsor_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(182, 182, 182);
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 35px 50px;
    margin-left: 50px;
    margin-right: 50px;
}
/* popular section */
